@using sellphone.Components.Shared
<a href="/wishlist" class="text-dark position-relative text-decoration-none">
    <button class="btn btn-link text-decoration-none p-0 border-0 user-trigger"
            <i class="bi bi-heart fs-5"></i>
            </button>
</a>
<a href="/cart" class="text-dark position-relative text-decoration-none">
    <button class="btn btn-link text-decoration-none p-0 border-0 user-trigger"
            <i class="bi bi-cart3 fs-5"></i>
            </button>
</a>